# 1. Write a program to accept percentage from the user and display the grade according to the following criteria:
Marks
Grade
>90
A
>80 and < 90
B
>=60 and <=80
C
below 60
D

In [5]:
per = float(input("please enter percentage = "))
if per>90:
    print("You got grade A")
elif 80<per<=90:
    print("You got grade B")
elif 60<=per<=80:
    print("You got grade C")
else:
    print("You got grade D")

please enter percentage =  56

You got grade D

# Q 2 Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:
Tax     Cost Price(in Rs)
15%        >100000
10%        >50000 and <= 100000
5%         <= 50000

In [6]:
bike=int(input("Please enter the cost of bike : "))
if bike>10000:
    print("you have to be paid road tax 15% ")
elif 10000>=bike>5000:
    print("you have to be paid road tax 10% ")
else:
    print("you have to be paid road tax 5% ")

Please enter the cost of bike :  6252

you have to be paid road tax 10%

# Q3 ccept any city from the user and display monuments of that city.
City
Delhi
Agra
Jaipur


Monument 
Red Fort
Taj Mahal
Jal Mahal

In [12]:
place=input("please enter the city from this  (Delhi, Agra, Jaipur) : ")
if place=="Delhi":
    print("the monument in Delhi is  Red fort")
elif place=="Agra":
    print("the monument in Agra is  Taj mahal")
elif place=="Jaipur":
    print("the monument in Jaipur is  Jal Mahal")
else:
    print("please select the right option")

please enter the city from this  (Delhi, Agra, Jaipur) :  hsadbhkabs

please select the right option

# Q4   Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [4]:
num=int(input("enter the no : "))
count=0
while num>10:
    num=num/3
    count+=1
print("the number can divided by ", count)

enter the no :  15

the number can divided by  1

# Q5 Why and When to Use while Loop in Python give a detailed description with example

A while loop is a control flow statement in Python that repeatedly executes a block of code as long as a specified condition is true.

A while loop is useful when you want to repeat a block of code while a certain condition is true. For example, you might use a while loop to read input from the user until they enter a valid value, or to process a list of items until a certain condition is met.

Here's another example that uses a while loop to process a list of items until a certain condition is met:

In [7]:
items = ["apple", "banana", "orange", "grape"]
i=0
while i<len(items):
    if items[i]=="orange":
        break
    print("processing item " ,items[i]) 
    i += 1

processing item  apple
processing item  banana

# Q6  Use nested while loop to print 3 different pattern.

In [2]:
#Right Triangle
i=1
while i<=5:
    print(i*"*")
    i+=1

*
**
***
****
*****

In [4]:
# Diamond
row = 1
while row <= 3:
    col = 1
    while col <= (3 - row):
        print(' ', end='')
        col += 1
    col = 1
    while col <= (2 * row - 1):
        print('*', end='')
        col += 1
    print()
    row += 1

row = 2
while row >= 1:
    col = 1
    while col <= (3 - row):
        print(' ', end='')
        col += 1
    col = 1
    while col <= (2 * row - 1):
        print('*', end='')
        col += 1
    print()
    row -= 1

  *
 ***
*****
 ***
  *

In [5]:
# squre
row = 1
while row <= 5:
    col = 1
    while col <= 5:
        print('*', end='')
        col += 1
    print()
    row += 1

*****
*****
*****
*****
*****

# Q7  Reverse a while loop to display numbers from 10 to 1

In [3]:
i=10
while i>0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1